<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head th:replace="fragments/header :: header">
<title>Header</title>
</head>

<body>
	<div th:replace="fragments/navigation :: navigation"></div>
   	<div layout:fragment="content"></div>
    <div th:insert="footer :: copy">
      <div class="text-center" style="position: absolute; right: 10px; bottom:0px ;">
			<a href="viewnotification" style="font-size: 32px; color: #000;"><i class="far fa-bell"></i></a>	
			<p style="color:#000; font-weight:400; font-size:14px;">Notifications</p>
	  </div>
	</div>
</body>
</html>