/*Login Form Css*/
.form-area{
		  padding: 20px 50px;
		  margin-top: 10px
}
.form-area h1{
		 text-align: center;
		 font-size: 32px;
		 margin: 10px 0;
} 
.form-area img{
	 	width: 170px;
		height: auto;
		text-align: center;
}	
.form-area label{
	 	font-size: 16px;
}

.user-login{
	padding:20px 50px;
	margin-top:20px;
}
.user-login h4{
	margin:10px 0;
	margin-bottom:0;
}
.user-login ul{
	list-style:none;
}
.user-login ul li{
	margin-top:10px;
}
.admin-login{
	padding:0 50px;
}
.admin-login h4{
	margin:10px 0;
	margin-bottom:0;
}
.admin-login ul{
	list-style:none;
}
.admin-login ul li{
	margin-top:10px;
}
.user-login::before{
 	position: absolute;
    content: "";
    width: 80%;
    height: 0;
    right: -30%;
    border: 1px solid #2f2d2d;
    transform: rotate(90deg);
    top: 80%;
    bottom: 0;
}

/*Header Css*/
.left-area{
	margin:10px 0;
}
.right-area{
	margin:5px 0;
}
.right-area ul li a:hover,.right-area ul li a:active,.right-area ul li a:focus {
	background: none;
	color:#000;
}

.link{
	margin-right: 20px;	
}
.link li a{
	font-size: 16px;
	color: #000 !important;
}
.link li a i{
	margin-right: 10px;
	font-size: 20px;
	color: #000;
}
.link li a:hover,.link li a:focus,.link li a:active {
	text-decoration: none;
	background: none;
	border-color:none;
}

.link .sub-menu{
    width: 150px;
    padding: 0;
}
.link .sub-menu li{
    padding: 0;
    background-color:#f8f8f8;
    color:#000;
}
.link .sub-menu li:hover{
    background: #f8f8f8;
}
.link .sub-menu li:hover a,.link .sub-menu li:active a{
    color: #000;
}
.link .sub-menu li a{
    padding: 10px 24px;
    border-bottom: 1px solid #ddd;
    font-size:14px;
    color:#000 !important;
    font-weight:400;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background: none !important;
    border-color: none;
}

.footer {
  background-color: #eee;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*Registration Form css*/

.reg-form{
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,.16); padding: 40px 30px; margin-top:30px;
}	