<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">

<head>
<title>Add Notification</title>

</head>
<body>
	<div layout:fragment="content">
	<div id="editor">
		
	</div>
	 <form class="form-horizontal" id="search-form">
             <div class="form-group">
                  <button type="submit" id="bth-search"
                          class="btn btn-primary btn-lg footer-button">Publish
                  </button>
            </div>
        </form>
	<script>
		initSample();
	</script>
   	</div>
</body>
</html>